
#######################################
# Docker
#######################################

IMAGE_TAG=latest

#######################################
# Container Names
#######################################

BACKEND_CONTAINER_NAME=backend container name
FRONTEND_CONTAINER_NAME=frontend container name

#######################################
# Ports
#######################################

BACKEND_PORT=5005
BACKEND_HOST_PORT=5005

FRONTEND_HOST_PORT=5173
FRONTEND_PORT=80
#######################################

# Application
#######################################

NODE_ENV=development

#######################################
# Authentication
#######################################

JWT_SECRET=super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d

#######################################
# MongoDB Atlas
#######################################

MONGO_URI=mongodb+srv://<username>:<password>@cabbooking.8np4mqh.mongodb.net/?appName=cabbooking